body#inicial {
  background-image: url('../assets/bg_inicial/Group 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Garante que a imagem se ajuste sem cortar */
  background-color: #FFF9E9;
  background-attachment: fixed; /* Opcional: fixa o fundo enquanto rola a página */
}

div#conteinerindex{
   position: absolute; /* ou fixed, dependendo do contexto */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%); /* CORRETO: sem parênteses extras */
  
  width: 120px; 
  padding: 10px 10px;
  gap: 4px;
  
  display: inline-flex;
  justify-content: center; 
  align-items: center;
}

div#botao {
color: #162257;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -320%);
  padding: 10px;
  display: inline-flex;
  border-radius: 16px;
  outline: 3px #162257 solid;
  outline-offset: -8px;
  justify-content: center;
  align-items: center;
  transition: color 150ms ease-in-out;
}

div#botao:hover{
    background-color: #162257;
  color: #FFF9E9;
    
}

div#botao svg {
  transition: fill 150ms ease-in-out;
}
#menunavfooter {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 90%;
  height: 48px;
  background: #162257;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 800;
  padding: 0 32px;
  box-sizing: border-box;
  border-radius: 16px;
}

#menunavfooter a {
  text-decoration: none;
  color: #D9D9D9;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menunavfooter img {
  width: 20px;
  height: 20px;
}

#menunavfooter img:hover {
  width: 30px;
  height: 30px;
  transition: 50ms ease-in-out 50ms;
}

/* MENU FIXO NO TOPO */
#menunavtop {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border-radius: 16px;
  z-index: 900;
}

/* Estilo dos ícones */
#menunavtop img {
  cursor: pointer;
}

/* OVERLAY DE MENU EXPANDIDO */
#overlayMenu {
  display: none; /* oculto inicialmente */
  position: fixed;
  top: 70px; /* aparece abaixo do menu superior */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #D6CEB6;
  border-radius: 16px;
  z-index: 800;
  padding: 16px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* OVERLAY DE MENU EXPANDIDO */
#overlayMenu a {
  text-decoration: none;
}

#overlayMenu a:hover {
  background-color: #FFF9E9;
}


/* Itens do menu */
.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 32px;
  font-family: "league spartan", sans-serif;
  font-weight: 700;
  font-size: 16.45px;
  color: #162257;
  cursor: pointer;
}

.menu-item img {
  width: 24px;
  height: 24px;
}

.titulo {
    text-align: center;
    color: #162257;
    margin: 2em 0;
    padding: 0 1em;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;
  }
  .titulo p {
    max-width: 500px;
    margin: 1em auto;
    line-height: 27px;
  }
  .mapa-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: none;
}
  .mapa {
   position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  cursor: grab;
  transition: cursor 0.2s;
}
.mapa.dragging {
  cursor: grabbing;
}
  .mapa img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .pin {
    background: #162257;
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: #F2ECDD;
    cursor: pointer;
  }
  .pin::before {
    content: '';
    background: #3046A6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
  }
  .pin span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 3.7em;
    top: 50%;
    transform: translateY(-50%);
    background: #3B4C99;
    border-radius: 16px;
    padding: 0.3em 0.6em;
    font-size: 0.9em;
    user-select: none;
  }

  /* Posicionamento dos prédios */
  .cauduro { top: 43%; left: 67%; }
  .maua { top: 36%; left: 56%; }
  .francismari { top: 53%; left: 58%; }
  .carmen { top: 20%; left: 48%; }
  .emerita { top: 83%; left: 38%; }
  .ibirapuita { top: 28%; left: 48%; }
  .sm { top: 43%; left: 48%; }
  .moraes { top: 53%; left: 58%; }
  .raimundo { top: 65%; left: 45%; }
  .correio { top: 63%; left: 18%; }
  .prates { top: 13%; left: 48%; }
  .mabi { top: 56%; left: 25%; }
  .calcadao { top: 43% ; left: 72% ; }
  .gare {top: 50% ; left: 16.5% ; }
  .riobranco {top: 41.5% ; left: 55% ; }
  .pracamarinho {top: 32.5% ; left: 67.5% ; }

 
  .pontoreferencia::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

.pontoreferencia{
    background: #574B27;
    position: absolute;
    color: #F2ECDD;
  }

 .pontoreferencia span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 2.5em;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    padding: 0.5em 0.5em;
    font-size: 0.9em;
    user-select: none;
  }

.calcadao span {
  transform: translateY(-50%) rotate(55deg); /* exemplo: rotaciona 20 graus no sentido anti-horário */
  background: #060D2C;
}

.gare span {
  transform: translateY(-50%) rotate(278deg);
  background: #060D2C;
}

.riobranco span {
  transform: translateY(-50%) rotate(-14deg); /* sem rotação, se quiser manter reto */
}

.pracamarinho span {
  transform: translateY(-50%) rotate(330deg);
  background: #060D2C;
}


  @keyframes pulse {
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2.5);
    }
  }

  @media screen and (max-width: 600px) {
    .mapa {
      font-size: 13px;
    }
  }

  /* POPUP OVERLAY */
  .popup-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    justify-content: center;
    align-items: flex-end;
    font-family: league spartan;
    color: #545454;
  }

    .popup-overlay a {
    text-decoration: none;
    color: #FFFFFF;
  }

  .popup-overlay.active {
    display: flex;
  }

  /* POPUP CONTENT */
  .popup-content {
    width: 100%;
    max-height: 100vh;
    background: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
  }

  /* Botão fechar */
  .fecharPopup {
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .fecharPopup img {
    width: 100%;
    height: 100%;
  }

 #botoesRAVA {
    display: flex;
    justify-content: center;
    gap: 20px; /* espaço entre os botões */
    margin: 100px auto 10px auto; /* top, right, bottom, left */
  }

  #botoesRAVA button {
    background: #F2F2F2;
    color: #484848;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1em;
  }

#botoesRAVA a {
    color: #484848;
    text-decoration: none;
  }

  #botoesRAVA a:hover {
    color: #fff;
    text-decoration: none;
  }
    #botoesRAVA button:hover {
    background: #162257;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1em;
  }